@{
    ViewData["Title"] = "Home Page";
}

<h2>News</h2>

<!DOCTYPE html>
<html>
<head>
    <script>
        <link rel="stylesheet" href="~/css/site.css" />
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </script>
</head>
<body>
    <div class="contentNews">
        <div class="newsItem">
            <h1>Dennis joins NIP; Xizt steps down</h1>
            <div class="author">
                <span class="glyphicon glyphicon-user"><a href="#" class="authorName">DITOX</a></span>
                <div class="date">2018-02-13</div>
            </div>
            <div class="newsText">
                <p class="headerText">The Swedish side, who came in last at cs_summit 2, has swapped Dennis "dennis" Edman for Richard "Xizt" Landström.</p>
                <p>
                    Dennis "dennis" Edman, who had been benched with GODSENT in November, finally found a home with NiP, where he will take over the role of IGL from one of the original Ninjas, Richard "Xizt" Landström, according to a Q&A with the player.
                </p><br />
                <img src="~/images/dennis.jpeg" />
                <p>
                    News of the change come after a slow finish at the end of 2017 for the Swedes, when despite showing the NiP magic was alive by winning IEM Oakland, the team bombed out of BLAST Pro Series and the ESL Pro League Season 7 Finals. Most recently, the team came in 7-8th place at cs_summit 2 last weekend.<br />
                    <br />
                    With this change, the team looks as follows:<br />
                </p>
            </div>
            <div class="newsPlayers">
                <span style="font-size: small">
                    <img alt="Sweden" src="https://static.hltv.org/images/bigflags/30x20/SE.gif" class="flag" />
                    <a>Patrik "f0rest" Lindberg</a><br />
                    <img alt="Sweden" src="https://static.hltv.org/images/bigflags/30x20/SE.gif" class="flag" />
                    <a>Christopher "GeT_RiGhT" Alesund</a><br />
                    <img alt="Sweden" src="https://static.hltv.org/images/bigflags/30x20/SE.gif" class="flag" />
                    <a>Fredrik "REZ" Sterner</a><br />
                    <img alt="Sweden" src="https://static.hltv.org/images/bigflags/30x20/SE.gif" class="flag" />
                    <a>William "draken" Sundin</a><br />
                    <img alt="Sweden" src="https://static.hltv.org/images/bigflags/30x20/SE.gif" class="flag" />
                    <a>Dennis "dennis" Edman</a>
                </span>
            </div>
            <p>Copyrighted from HLTV.org</p>
        </div>
    </div>
</body>
</html>