
@{
    ViewData["Title"] = "Media";
}

<h2>Media</h2>

<!DOCTYPE html>
<html>
<head>
    <script>
        <link rel="stylesheet" href="~/css/site.css" />
    </script>
</head>
<body>
    <div class="contentVideo">
        <p>Sagan CS:GO</p>
        <iframe type="" width="700" height="400" src="https://www.youtube.com/embed/QtdNIezqlSk" frameborder="0" allowfullscreen>Your browser doesn't support iFrames.</iframe>      
    </div>
    <div class="contentVideo">
        <p>DITOX Fragmovie CS:GO</p>
        <iframe type="" width="700" height="400" src="https://www.youtube.com/embed/w8SaqGFY0_M" frameborder="0" allowfullscreen>Your browser doesn't support iFrames.</iframe>
    </div>
    <div class="contentVideo">
        <p>Sagan 1.6 Movie</p>
        <iframe type="" width="700" height="400" src="https://www.youtube.com/embed/0WbZT6i6X8U" frameborder="0" allowfullscreen>Your browser doesn't support iFrames.</iframe>
    </div>
</body>
</html>
