
@{
    ViewData["Title"] = "Roster";
}
<!DOCTYPE html>
<html>
<head>
    <script>
        <link rel="stylesheet" href="~/css/site.css" />
    </script>
</head>
<body>
    <div id="container">
        <h1> Our Team</h1>
        <hr />
        <div class="card">
            <div class="front">
                <img src="~/images/jakobbjärne.jpg" class="profilimage" />
                <span class="name">Jakob Bjärne</span>
                <hr />
                <span class='role'> - In-Game Leader - </span>
                <hr />
                <span><img src="https://static.hltv.org/images/bigflags/30x20/SE.gif" /></span>
            </div>
            <div class="back">
                <span>Info</span>
                <p>Age: 29</p>
                <p>City: Varberg</p>
            </div>
        </div>

        <div class="card">
            <div class="front">
                <img src="~/images/jag1.jpg" class="profilimage" />
                <span class="name">Jacob Andersson</span>
                <hr />
                <span class='role'> - Entryfragger, Lurker - </span>
                <hr />
                <span><img src="https://static.hltv.org/images/bigflags/30x20/SE.gif" /></span>
            </div>
            <div class="back">
                <span>Info</span>
                <p>Age: 27</p>
                <p>City: Varberg</p>
            </div>
        </div>

        <div class="card">
            <div class="front">
                <img src="~/images/laffe.jpeg" class="profilimage" />
                <span class="name">Adam Rosén</span>
                <hr />
                <span class='role'> - Rifler, Refragger - </span>
                <hr />
                <span><img src="https://static.hltv.org/images/bigflags/30x20/SE.gif" /></span>
            </div>
            <div class="back">
                <span>Info</span>
                <p>Age: 29</p>
                <p>City: Helsingborg</p>
            </div>
        </div>

        <div class="card">
            <div class="front">
                <img src="~/images/laffe.jpeg" class="profilimage" />
                <span class="name">Adam Rosén</span>
                <hr />
                <span class='role'> - Rifler, Refragger - </span>
                <hr />
                <span><img src="https://static.hltv.org/images/bigflags/30x20/SE.gif" /></span>
            </div>
            <div class="back">
                <span>Info</span>
                <p>Age: 29</p>
                <p>City: Helsingborg</p>
            </div>
        </div>

        <div class="card">
            <div class="front">
                <img src="~/images/laffe.jpeg" class="profilimage" />
                <span class="name">Adam Rosén</span>
                <hr />
                <span class='role'> - Rifler, Refragger - </span>
                <hr />
                <span><img src="https://static.hltv.org/images/bigflags/30x20/SE.gif" /></span>
            </div>
            <div class="back">
                <span>Info</span>
                <p>Age: 29</p>
                <p>City: Helsingborg</p>
            </div>
        </div>

    </div>
</body>
</html>

