
@{
    ViewData["Title"] = "Roster";
}
<!DOCTYPE html>
<html>
<head>
    <script>
        <link rel="stylesheet" href="~/css/site.css" />
    </script>
</head>
<body>
    <ul class="responsive_grid">
        <li>
            <div class="team_member">
                <div class="info">
                    <img src="~/images/jakobbjärne.jpg" />
                    <h5>Jakob "mrGBG" Bjärne</h5>
                    <h6>In-Game Leader</h6>
                    <div class="infoFlagg">
                        <p>&nbsp;<img alt="Sweden" src="https://static.hltv.org/images/bigflags/30x20/SE.gif" class="flag" /></p>
                    </div>
                </div>
                <div class="info_reveal">
                    <h3 class="text-center">Info</h3>
                    <p>Age: 29</p>
                    <p>City: Varberg &nbsp;<img alt="Sweden" src="https://static.hltv.org/images/bigflags/30x20/SE.gif" class="flag" /></p>
                    <p>Age: 29</p>
                    <p>Age: 29</p>
                    <p>Age: 29</p>
                    <p>Age: 29</p>
                    <p>Age: 29</p>
                    <p>Age: 29</p>
                    <p>Age: 29</p>
                    <p>Age: 29</p>
                </div>
            </div>
        </li>

        <li>
            <div class="team_member">
                <div class="info">
                    <img src="~/images/jag1.jpg" />
                    <h5>Jacob "DITOX" Andersson</h5>
                    <h6>Entry Fragger, Lurker</h6>
                    <div class="infoFlagg">
                        <p>&nbsp;<img alt="Sweden" src="https://static.hltv.org/images/bigflags/30x20/SE.gif" class="flag" /></p>
                    </div>
                </div>
                <div class="info_reveal">
                    <h3 class="text-center">Info</h3>
                    <p>Age: 27</p>
                    <p>City: Varberg &nbsp;<img alt="Sweden" src="https://static.hltv.org/images/bigflags/30x20/SE.gif" class="flag" /></p>
                </div>
            </div>
        </li>

        <li>
            <div class="team_member">
                <div class="info">
                    <img src="~/images/laffe.jpeg" />
                    <h5>Adam "lAffe" Rosén</h5>
                    <h6>Rifler, Refragger</h6>
                    <div class="infoFlagg">
                        <p>&nbsp;<img alt="Sweden" src="https://static.hltv.org/images/bigflags/30x20/SE.gif" class="flag" /></p>
                    </div>
                </div>
                <div class="info_reveal">
                    <h3 class="text-center">Info</h3>
                    <p>Age: 29</p>
                    <p>City: Helsingborg &nbsp;<img alt="Sweden" src="https://static.hltv.org/images/bigflags/30x20/SE.gif" class="flag" /></p>
                </div>
            </div>
        </li>


    </ul>
</body>
</html>

