body {
    background: #000;
}


#mainload {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 900;
    background-color: black;
}

.headtext {
    margin: 0 auto;
    text-align: center;
    padding-top: 100px;
    font: normal 18px/1em Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    color: #EFEFEF;
}

#loading {
    position: absolute;
    top: 0;
    width: 600px;
    height: 36px;
    left: 50%;
    top: 40%;
    margin-left: -300px;
    overflow: visible;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

#loading div {
     position: absolute;
     width: 20px;
     height: 36px;
     opacity: 0;
     font-size: large;
     font-family: Helvetica, Arial, sans-serif;
     animation: move 2s linear infinite;
     -o-animation: move 2s linear infinite;
     -moz-animation: move 2s linear infinite;
     -webkit-animation: move 2s linear infinite;
     transform: rotate(180deg);
     -o-transform: rotate(180deg);
     -moz-transform: rotate(180deg);
     -webkit-transform: rotate(180deg);
     color: #7FFFD4;
}

#loading div:nth-child(2) {
     animation-delay: 0.2s;
     -o-animation-delay: 0.2s;
     -moz-animation-delay: 0.2s;
     -webkit-animation-delay: 0.2s;
}

#loading div:nth-child(3) {
    animation-delay: 0.4s;
    -o-animation-delay: 0.4s;
    -webkit-animation-delay: 0.4s;
    -webkit-animation-delay: 0.4s;
}

#loading div:nth-child(4) {
    animation-delay: 0.6s;
    -o-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    -webkit-animation-delay: 0.6s;
}

#loading div:nth-child(5) {
    animation-delay: 0.8s;
    -o-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    -webkit-animation-delay: 0.8s;
}

#loading div:nth-child(6) {
    animation-delay: 1s;
    -o-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -webkit-animation-delay: 1s;
}

#loading div:nth-child(7) {
    animation-delay: 1.2s;
    -o-animation-delay: 1.2s;
    -moz-animation-delay: 1.2s;
    -webkit-animation-delay: 1.2s;
}

@keyframes move {
    0% {
        left: 0;
        opacity: 0;
    }

    35% {
        left: 41%;
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        opacity: 1;
    }

    65% {
        left: 59%;
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        opacity: 1;
    }

    100% {
        left: 100%;
        -moz-transform: rotate(-180deg);
        -webkit-transform: rotate(-180deg);
        -o-transform: rotate(-180deg);
        transform: rotate(-180deg);
        opacity: 0;
    }
}

@-moz-keyframes move {
    0% {
        left: 0;
        opacity: 0;
    }

    35% {
        left: 41%;
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
        opacity: 1;
    }

    65% {
        left: 59%;
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
        opacity: 1;
    }

    100% {
        left: 100%;
        -moz-transform: rotate(-180deg);
        transform: rotate(-180deg);
        opacity: 0;
    }
}

@-webkit-keyframes move {
0% {
    left: 0;
    opacity: 0;
}

35% {
    left: 41%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
}

65% {
    left: 59%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
}

100% {
    left: 100%;
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    opacity: 0;
  }
}


@-o-keyframes move {
    0% {
        left: 0;
        opacity: 0;
    }

    35% {
        left: 41%;
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        opacity: 1;
    }

    65% {
        left: 59%;
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        opacity: 1;
    }

    100% {
        left: 100%;
        -o-transform: rotate(-180deg);
        transform: rotate(-180deg);
        opacity: 0;
    }
}

@keyframes fadeout {
    from {opacity: 1;}
    to {opacity: 0;}
}

.progress-bar {
    min-height: 100%;
    background: -webkit-radial-gradient(center, ellipse cover, rgba(41,42,45,1) 0%,rgba(0,0,0,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(41,42,45,1) 0%,rgba(0,0,0,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(41,42,45,1) 0%,rgba(0,0,0,1) 100%);
    background: radial-gradient(ellipse at center, rgba(41,42,45,1) 0%,rgba(0,0,0,1) 100%);
}

ul {
    margin: auto;
    height: 10px;
    width: 500px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    list-style: none;
    padding: 0;
}

li {
    display: block;
    float: left;
    width: 90px;
    height: 10px;
    margin-right: 10px;
}

li:nth-child(-n+3) {
    background: rgba(255,255,255,0.9);
    box-shadow: inset 0px 0px 10px 2px rgba(117,182,255,0.5), 0px 0px 20px rgba(117,182,214,0.5);
}

li:nth-child(n+4) {
    box-shadow: inset 0px 0px 10px 1px rgba(117,182,255,0.4), 0px 0px 20px rgba(117,182,255,0.1);
}

li:nth-child(3) {
    -webkit-animation: pulse 1s alternate infinite;
    -moz-animation: pulse 1s alternate infinite;
}

@-webkit-keyframes pulse {
0% {
    background: rgba(255,255,255,1);
    box-shadow: inset 0px 0px 10px 2px rgba(117,182,255,0.5), 0px 0px 40px 2px rgba(105,135,255,1);
}

100% {
     background: rgba(255,255,255,0);
     box-shadow: inset 0px 0px 10px 2px rgba(117,182,255,0.5), 0px 0px 30px 2px rgba(105,135,255,0.3);
 }
}

@-moz-keyframes pulse {
0% {
     background: rgba(255,255,255,1);
     box-shadow: inset 0px 0px 10px 2px rgba(117,182,255,0.5), 0px 0px 40px 2px rgba(105,135,255,1);
}

100% {
     background: rgba(255,255,255,0);
     box-shadow: inset 0px 0px 10px 2px rgba(117,182,255,0.5), 0px 0px 30px 2px rgba(105,135,255,0.3);
  }
}

