body {
    background: #222;
    margin: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    color: white;
}


.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: #8D1725;
    background: -webkit-linear-gradient(to right, #EA384D, #8D1725);
    background: linear-gradient(to right, #EA384D, #8D1725);
    border: 5px solid #111;
    position: sticky;
    top: 0;
    z-index: 999;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;
    padding: 20px 0;
    position: relative;
}

.header .logo img {
    width: 150px;
    height: auto;
}

nav {
    float: right;
    padding-top: 21px;
    right: 0;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
}

nav li {
    display: inline-block;
    margin-right: 70px;
    padding-top: 23px;
    position: relative;
}

nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

nav a:hover {
    color: #000;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: white;

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}

.siderright {
    background: #8D1725;
    background: -webkit-linear-gradient(to right, #EA384D, #8D1725);
    background: linear-gradient(to right, #EA384D, #8D1725);
    float: right;
    margin: 10px;
    padding: 20px;
    font-size: 105%;
    width: 260px;
    border: 5px solid #111;
}

.siderright {
    color: black;
}

.siderright h2 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.siderright2 {
    background: #8D1725;
    background: -webkit-linear-gradient(to right, #EA384D, #8D1725);
    background: linear-gradient(to right, #EA384D, #8D1725);
    float: right;
    margin: 10px;
    padding: 20px;
    font-size: 105%;
    width: 260px;
    clear: right;
    border: 5px solid #111;
}

.siderright2 h2 img {
    display: block;
    width: 275px;
}

.sponsimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 250px;
}

#container {
    width: auto;
    height: auto;
    text-align: center;
}

#container h1 {
        color: #fff;
        margin-bottom: 30px;
}

#container > hr {
        border: none;
        border: 1px solid #fff;
        width: 60%;
}

.card {
    display: inline-block;
    position: relative;
    width: 220px;
    height: 260px;
    opacity: 0.85;
    margin: 40px;
}

.front,
.back {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform 300ms;
    transition: -webkit-transform 300ms;
    transition: transform 300ms;
    transition: transform 300ms, -webkit-transform 300ms;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    border-radius: 5px;
}

.front {
    transform: rotateY(0deg);
    background: #8D1725;
    background: -webkit-linear-gradient(to right, #EA384D, #8D1725);
    background: linear-gradient(to right, #EA384D, #8D1725);
    text-align: center;
    padding: 30px;
}

.back {
    background: #8D1725;
    background: -webkit-linear-gradient(to right, #EA384D, #8D1725);
    background: linear-gradient(to right, #EA384D, #8D1725);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    padding: 30px;
    color: #fff;
}

.card:hover .front {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.card:hover .back {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.front .profilimage {
    height: 120px;
    width: 120px;
    border: 5px solid #B2DBBF;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 10px;
}

.front .name {
    display: inline-block;
    font-size: 18px;
    color: #fff;
}

.front .role {
    display: inline-block;
    color: #fff;
}

.front hr {
    border: none;
    color: #B2DBBF;
    border: 1px solid;
}

.contentNews {
    width: 600px;
}

.newsText img{
    width: 600px;
    height: 400px;
}

.newsPlayers img{
    width: 18px;
    height: 12px;
}

.info_reveal img {
    width: 18px;
    height: 12px;
}

.infoFlagg img {
    width: 25px;
    height: 18px;
}

.contentVideo {
    border: 5px solid #8D1725;
    width: 700px;
}